POSTGRES_DB=community_intranet
POSTGRES_USER=community_intranet
POSTGRES_PASSWORD=change-this-local-database-password
JWT_SIGNING_KEY=change-this-local-signing-key-with-at-least-32-characters
OPENAI_API_KEY=
AI_MODEL=gpt-5.6
LAN_HOST=raspberrypi.local
APP_PORT=8080
